<!-- INCLUDE HEADER -->
<% include ../partials/header %>

<h1>Reset Password</h1>

<!-- Form to reset password -->
<form action="/forgotpassword" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" autofocus>
    <input type="submit" value="Reset Password"></input>
</form>


<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>