<!--============-->
<!-- LOGIN FORM -->
<!--============-->

<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<div class="container formContainer">
    <h1 class="display-3 standardHeader">LOGIN</h1>

    <form action="/login" method="POST">
        <div class='form-group'>
            <label class="grayColor">Username:</label>
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>

        <div class='form-group'>
            <label class="grayColor">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>

        <div class='form-group btn-group' role="group">
            <button class="btn btn-outline-secondary" type="submit">Login</button>
            <a href="/forgotpassword" class="btn btn-outline-secondary">Forgot Password?</a>
        </div>
    </form>
</div>


<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>