<!-- INCLUDE HEADER -->
<% include ../partials/header %>

<div class="container formContainer">
    <form action="/resetpassword/<%= token %>" method="POST">
        <h1 class="display-3 standardHeader">RESET PASSWORD</h1>
        <div class="form-group">
            <label class="grayColor" for="password">New Password</label>
            <input type="password" name="password" value="" placeholder="New Password" autofocus="autofocus" class="form-control">
        </div>
        <div class="form-group">
            <label class="grayColor" for="confirm">Confirm Password</label>
            <input type="password" name="confirm" value="" placeholder="Confirm Password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-secondary">Update Password</button>
        </div>
    </form>
</div> 


<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>