<!-- INCLUDE HEADER -->
<% include ./partials/header %>


<h1 class="display-3 standardHeader">ALL USERS</h1>

<div id="allUsersTable" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-sm-12">
            <table class="table table-striped table-inverse table-responsive">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Number of Games</th>
                    </tr>
                </thead>

                <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td><a class="user" href="/games/users/<%= user.username %>"><%= user.username %></a></td>
                            <td><%= user.games.length %></td>
                        </tr>
                    <% }); %>  
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- INCLUDE FOOTER -->
<% include ./partials/footer %>