<!-- INCLUDE HEADER -->
<% include ./partials/header %>


<h1 id="allUsersHeader" class="display-3">ALL USERS</h1>

<div id="allUsersTable" class="container">
    <table class="container-fluid table table-striped table-inverse">
        <thead>
            <tr>
                <th>User</th>
                <th>Number of Games</th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><a class="user" href="/games/users/<%= user.username %>"><%= user.username %></a></td>
                    <td><%= user.games.length %></td>
                </tr>
            <% }); %>  
        </tbody>
    </table>
</div>


<!-- INCLUDE FOOTER -->
<% include ./partials/footer %>