

body {
    background-color: #1c1c1c !important;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cross {
    font-size: 61em !important;
    position: absolute;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
}

/* "Collector" Title */
.display-1 {
    color: gray;
    font-family: 'Audiowide', cursive;
}

/* GitHub Page button */
#github {
    margin-top: 10px;
}



/* ============== */
/* RESPONSIVENESS */
/* ============== */


/* Extra large devices (large desktops, 1200px) */
@media (max-width: 1200px) {
    /* EMPTY */
}


/* Large devices (desktops, 992px) */
@media (max-width: 992px) {

    #cross {
        font-size: 47em !important;
    } 
}


/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
    
    #cross {
        font-size: 35em !important;
    }
    
    /* COLLETOR header */
    .display-1 {
        font-size: 4.5em !important;
    }
}


/* Small devices (landscape phones, 576px) */
@media (max-width: 575px) { 
    
    #cross {
        font-size: 24em !important;
    }
    
    /* COLLETOR header */    
    .display-1 {
        font-size: 3rem !important;
    }
}