/* STYLE SHEET  */
/* LANDING PAGE  */

body {
    background-color: #1c1c1c !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    z-index: 0;
    position: relative;
}


/* Display Backround Icon Image */
body::after {
    content: "games";
    font-family: "Material Icons";
    font-size: 80em;
} 


/* Center the Title and Buttons */
.mainContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }


/* "Collector" Title */
.display-1 {
    color: gray;
    font-family: 'Audiowide', cursive;
    z-index: 1;
    position: relative;
}


/* GitHub Page button */
#github {
    margin-top: 10px;
    z-index: 1;
    position: relative;
}



/* ============== */
/* RESPONSIVENESS */
/* ============== */


/* Extra large devices (large desktops, 1200px) */
@media (max-width: 1200px) {

}


/* Large devices (desktops, 992px) */
@media (max-width: 992px) {
    
    /* Background Icon */
    body::after {
        content: "games";
        font-family: "Material Icons";
        font-size: 60em;
    } 
}


/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
    
    /* COLLETOR header */
    .display-1 {
        font-size: 4.5em !important;
    }

    /* Background Icon */
    body::after {
        content: "games";
        font-family: "Material Icons";
        font-size: 50em;
    } 
}


/* Small devices (landscape phones, 576px) */
@media (max-width: 575px) { 
    
    /* COLLETOR header */    
    .display-1 {
        font-size: 3rem !important;
    }

    /* Background Icon */
    body::after {
        content: "games";
        font-family: "Material Icons";
        font-size: 30em;
    } 
}