/* STYLE SHEET */
/* MAIN SITE (NOT LANDING PAGE) */


body {
    background-color: #1c1c1c !important;
}


/* Navbar brand font */
.navbar-brand {
    font-family: 'Audiowide', cursive;
    font-size: 5px;
    font-size: 17px !important;
    margin-top: 1px;
}


/* Disable pointer when hovering over "Signed In As..." in the navbar */
#disabled {
    pointer-events: none;
    cursor: default;
}


/* Padding for Flash Messages */
.flashMessages {
    margin-top: 10px;
}


/* Page Headers */
.standardHeader {
    color: gray;
    text-align: center;
    font-family: 'Audiowide', cursive;
    margin-top: 50px;
}


.smallerHeader {
    color: gray;
    text-align: center;
    font-family: 'Audiowide', cursive;
    margin-top: 50px;
}


/* Sub Headers on EDIT */
.subHeader {
    color: #C3C3C3;
    font-family: 'Audiowide', cursive;
    margin-top: 30px;
}


/* Add Game Search Box on INDEX page */
#addGame {
    color: gray;
    text-align: center;
}


/* Table on INDEX */
#indexTable {
    margin-top: 30px;
}


/* Form container on REGISTER and EDIT */
.formContainer {
    width: 40% !important;
}

/* Center search button on INDEX */
#searchButton {
    margin-bottom: 3px;
}


/* Sort arrows on INDEX */
.fa {
    color: gray;
    margin-left: 2px;
}


/* Table on USERS */
#allUsersTable {
    /* width: 35%; */
    margin-top: 30px;
}


/* List of users on USERS */
.user {
    color: white;
    text-decoration: underline;
}


/* Game titles on RESULTS */
.title {
    color: #e0e0e0;
}


/* No Results Found line on RESULTSs */
#noResults {
    color: gray;
    text-align: center;
    margin-top: 40px;
}


/* Date line on RESULTS SHOW */
.selectPlatformsDate {
    color: gray;
    font-family: 'Audiowide', cursive;
    margin-top: 10px !important;
    text-align: center;
}


/* Select Your Platform line on RESULTS SHOW */
.selectPlatforms {
    color: #C3C3C3;
    font-family: 'Audiowide', cursive;
    margin-top: 10px !important;
}


.grayColor {
    color: gray;
}

.lightGrayColor {
    color: #C3C3C3;
}



/* ============== */
/* RESPONSIVENESS */
/* ============== */


/* Extra large devices (large desktops, 1200px) */
@media (max-width: 1200px) {
    
    .standardHeader {
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* Form container on REGISTER and EDIT */
    .formContainer {
        width: 60% !important;
    }

    /* Word wrap on long usernames in All Users table */
    #allUsersTable {
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* fix spacing on down Sort Arrows on INDEX byt dropping them down to a new line */
    .sortArrows {
        display: block;
    }
}


/* Large devices (desktops, 992px) */
@media (max-width: 992px) {
    
    .standardHeader {
        font-size: 4em !important; 
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* Form container on REGISTER and EDIT */
    .formContainer {
        width: 70% !important;
    }

    /* Word wrap on long usernames in All Users table */
    #allUsersTable {
        overflow-wrap: break-word;
        word-break:break-word;
    }
}


/* Medium devices (tablets, 768px) */
@media (max-width: 768px) {
    
    .standardHeader {
        font-size: 3em !important; 
        overflow-wrap: break-word;
        word-break:break-word;
    }

    .smallerHeader {
        font-size: 2.5em !important;
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* Form container on REGISTER and EDIT */
    .formContainer {
        width: 80% !important;
    }

    /* Word wrap on long usernames in All Users table */
    #allUsersTable {
        overflow-wrap: break-word;
        word-break:break-word;
    }
}


/* Small devices (landscape phones, 576px) */
@media (max-width: 575px) { 

    .standardHeader {
        font-size: 2.5em !important;
        overflow-wrap: break-word;
        word-break:break-word;
    }

    .smallerHeader {
        font-size: 2em !important;
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* Form container on REGISTER and EDIT */
    .formContainer {
        width: 100% !important;
    }

    /* Word wrap on long usernames in All Users table */
    #allUsersTable {
        overflow-wrap: break-word;
        word-break:break-word;
    }

    /* At smallest size, put Search Game form on new line */
    #gameSearch {
        display: block;
    }
}