<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>Edit Platforms for <%= game.title %></h1>

<h4>Currently Owned Plaforms:</h4>




<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>