<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>MY COLLECTION</h1>

<a href="/games/new">ADD A GAME</a>

<h2>ALL GAMES</h2>

<!-- Loop through all games and display the title for each -->
<% games.forEach(function(game) { %>
	<a href="/games/<%= game._id %>"><%= game.title %></a>
	<br>
<% }); %>


<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>
