<!-- INCLUDE HEADER -->
<% include ../partials/header %>


<h1>ADD A GAME TO YOUR COLLECTION</h1>

<!-- Disaply search results from the Giant Bomb API  -->
<ul>
	<% data.results.forEach (function(game) { %>
			<li>
					<%= game.name %>
			</li>
	<% }); %>
</ul>



<!-- INCLUDE FOOTER -->
<% include ../partials/footer %>
